<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="kubernetes-logo">
      <img src="/kubernetes-logo.png">
    </a>
    <h1>Getting Started with Kubernetes</h1>
    <p>This is a sample Node application deployed to Kubernetes using Helm in a GitLab CI pipeline.</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://gitlab.com/stratospire/k8s-getting-started/"><span class="glyphicon glyphicon-download"></span> Source on GitLab</a>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Kubernetes, using a <a href="https://about.gitlab.com/features/gitlab-ci-cd/">GitLab CI</a> pipeline.</li>

        <li>When GitLab receives the source code, it runs the pipeline defined in the <a href="https://gitlab.com/saucelabs/k8s-example-app/blob/master/.gitlab-ci.yml">.gitlab-ci.yml</a>.</li>
        <li>The Pipeline then triggers a Docker build then deploys it to a <a href="https://kubernetes.io/">Kubernetes</a> cluster using <a href="https://github.com/kubernetes/helm">Helm</a>.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>Turn run this app yourself, a command line shell, run:</li>
        <ul>
          <li><code>git clone https://gitlab.com/stratospire/k8s-getting-started.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>mv k8s-getting-started my-app-name</code> - rename the app</li>
          <li><code>cd my-app-name</code> - change directory into the local source code repository</li>
          <li><code>rm -rf .git</code> - remove the old repo info</li>
          <li><code>git init</code> - init as your own</li>
          <li><code>git remote add origin git@gitlab.com:stratospire/my-app-name.git</code> - add your GitLab repository remote</li>
          <li><code>git add -A</code> - add your code to the commit</li>
          <li><code>git commit -m "initial commit"</code> - commit your code</li>
          <li><code>git push origin master</code> - push your code</li>
        </ul>
        <li>GitLab CI will trigger an automated deployment after your push.</li>
      </ul>
    </div>
  </div> <!-- row -->
</div>


</body>
</html>
