<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://kubernetes.io/docs/home/"><span class="glyphicon glyphicon-book"></span> Kubernetes Documentation</a>
      </li>
    </ul>
  </div>
</nav>
